@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<span class="text-primary">
    <a href="/Index" class=" text-decoration-none">Home</a>
    &nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;
</span>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
