@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<span class="text-primary">
    <a href="/Privacy" class=" text-decoration-none">Privacy</a>
    &nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;
</span>
<h1 class="mt-5">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
